body {
    margin: 10;
}

html {
    background-color: darkslateblue;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    border-bottom: 2px solid lightskyblue;
    margin-bottom: 12px;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
}

img {
    object-fit: cover;
    height: 72px;
    border-radius: 50%;
    aspect-ratio: 1;
}

.boldstuff {
    font-style: italic;
}

h1 {
    margin: 8px 0px;
}

h2 {
    margin: 12px 0 0 0;
}

h3 {
    margin: 0;
    font-size: 0.8em;
}

h4 {
    color: lightgreen;
    margin-top: 0;
    margin-bottom: 10;
}

p {
    margin: 0 0 0 12px;
}

side-margin {
    padding: 0px 8px;
}